	/* 커뮤니티 */
.not_tb{width:100%;margin-top:30px;border-top:3px solid #115fad;border-bottom:3px solid #ccc;table-layout:fixed}
.not_tb th{padding:13px 0 14px;background:#f2f8ff}
.not_tb td{padding:18px 0 19px;border-top:1px solid #ccc;text-align:center}
.not_tb td.con{text-align:left}
.not_tb td.con .in{padding-left:26px}
.not_tb .in,.not_tb .in a{font-size:13px;color:#333}
.not_tb .in .btn_dw{width:64px;height:30px;padding-left:20px;background-position:0 -73px;font-size:13px;color:#fff;line-height:30px}
.not_tb .in .btn_dw:hover{color:#fff;text-decoration:none}
.not_tb.v2 td{padding:10px 0 9px}

.btn_view{width:94px;height:34px;background-position:0 -171px;font-size:13px;color:#333;line-height:34px;text-align:center}
.ins_img{width: 500px; height: auto;}

.view_wrap{margin-top:29px}
.view_tit{overflow:hidden;padding:13px 22px 14px 12px;border-top:3px solid #115fad;border-bottom:1px solid #ddd;background:#f2f8ff;font-size:13px;color:#333}
.vt_left{float:left}
.vt_right{display:inline;float:right}
.vt_right strong .num{display:inline-block;margin-left:5px;font-weight:700}
.view_cont{padding:30px 12px;font-size:13px;line-height:20px;color:#333}
.view_cont img{margin-top:20px}
.view_txt{margin-top:20px}
.view_txt:first-child{margin-top:0}

.btn_wrap>.btn_view{width:94px;height:34px;font-size:13px;line-height:34px;text-align:center; float: right; }
.btn_next{margin-top: -28px;}